In [11]:
# Q1:
import datetime
def greet_with_time(name):
    current_time=datetime.datetime.now()
    print(f"Hello {name}, the current time is {current_time}.")
greet_with_time("Amna Nawaz")

Hello Amna Nawaz, the current time is 2024-11-28 19:01:08.203587.

In [9]:
# Q2:
def calculate_average(num1,num2,num3):
    average=(num1+num2+num3)/3
    return average
result=calculate_average(57,58,59)
print(result)

58.0

In [7]:
# Q3:
def calculate_discount(price, percentage):
    discount=price-(price*percentage)
    return discount
price=calculate_discount(450,10/100)
print(price)

405.0

In [27]:
# Q4:
def print_info(name,age,city):
    print(f"Name: {name}")
    print(f"Age: {age}")
    print(f"City: {city}")
print_info(name="Amna",age=20,city="islamabad")

Name: Amna
Age: 20
City: islamabad

In [29]:
# Q5:
def find_max(*num):
    value=max(num)
    return value
maximun_value=find_max(45,84,69,56)
print(maximun_value)

84

In [31]:
# Q6:
def factorial(n):
    if n<0:
        print("Factorial not defined for negative number.")
    elif n==0 or n==1:
        return 1
    else:
        return n*factorial(n-1)
result=factorial(15)
print(result)

1307674368000

In [33]:
# Q7:
def apply_function(func, numbers):
    list=[]
    for num in numbers:
        data=func(num)
        list.append(data)
    return list
def cube(i):
    return i**3
numbers=[2,3,5,7,11]
numbers_cubes=apply_function(cube, numbers)
print(numbers_cubes)

[8, 27, 125, 343, 1331]

In [35]:
# Q8:
square = lambda x: x ** 2
result=square(7)
print(result)

49

In [37]:
# Q8:
def apply_operation(func, numbers):
    list=[]
    for num in numbers:
        data=func(num)
        list.append(data)
    return list
def square(i):
    return i**2
numbers=[1,4,7,10]
numbers_squares=apply_operation(square,numbers)
print(numbers_squares)

[1, 16, 49, 100]

In [39]:
# Q10:
import time
def measure_execution_time(func):
    def wrapper(*args,**kwargs):
        start_time=time.time()
        result=func(*args,**kwargs)
        end_time=time.time()
        execution_time=end_time-start_time
        print(f"Execution_time: {execution_time:.5f} seconds")
        return result
    return wrapper
@measure_execution_time
def my_function(n):
    total=0
    for i in range(n):
        total+=i
    return total
result=my_function(10000)
print("Result:",result)

Execution_time: 0.00100 seconds
Result: 49995000